<nav>
    <ul class="nav nav-justified">
        <li ng-class="{'active': isDMVActive == 1} "><a ng-href="#/proc/{{AssessmentId}}"><i class="ti-filter" aria-hidden="true"></i><span class="hidden-sm hidden-xs">  PROCESSING </span></a></li>
        <li ng-class="{'active': isDMVActive == 2} "><a ng-href="#/assessment/{{AssessmentId}}"><i class="ti-dashboard" aria-hidden="true"></i><span class="hidden-sm hidden-xs">  MY DASHBOARDS </span></a></li>
        <li ng-class="{'active': isDMVActive == 3} "><a ng-href="#/MasterColumnSettings/{{AssessmentId}}"><i class="ti-settings" aria-hidden="true"></i><span class="hidden-sm hidden-xs"> COLUMN SETTINGS </span></a></li>
        <li ng-class="{'active': isDMVActive == 4} "><a ng-href="#/BaseKPIColMap/{{AssessmentId}}"><i class="ti-panel" aria-hidden="true"></i><span class="hidden-sm hidden-xs"> WIDGET SETTINGS </span></a></li>        
    </ul>
</nav>