﻿<div ng-hide="isAddStopSynm" page-loader-spin style="height: 100%;position: absolute;width: 100%;"></div>
<div class="modal-header">
    <h3 class="modal-title">Add {{HeaderName}}</h3>
    <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancel()">
        <i class="ti-close teal theme-text" aria-hidden="true"></i>
    </div>
</div>
<div class="modal-body modalChart" style="min-height:100px;">
    <div ng-show="IsStop" class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label style="margin-top: 15px;padding: 5px;" class="col-sm-3">Enter Stop Word</label>
                <input style="width:70% !important" class="form-control col-sm-6" type="text" ng-model="StopWordVal">
            </div>
        </div>
    </div>
    <div ng-show="IsSynonym" class="row">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label style="margin-top: 15px;padding: 5px;" class="col-sm-3">Enter Used Word</label>
                    <input style="width:70% !important" class="form-control col-sm-6" type="text" ng-model="UsedVal">
                </div>
            </div>
        </div>
        <div ng-show="IsSynonym" class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label style="margin-top: 15px;padding: 5px;" class="col-sm-3">Enter Synonym</label>
                    <input style="width:70% !important" class="form-control col-sm-6" type="text" ng-model="SynonymVal">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="btn {{ATClr}}  btn-core theme-box boxShadow" ng-click="ok()">{{translation.BTN_YES}}</div>
    <div class="btn stdBtn {{ATClr}}   btn-bordered theme-text" ng-click="cancel()"><b>{{translation.BTN_NO}}</b></div>
</div>
