<!--AngularGridDataModalTemplate-->
<div ng-hide="isRetDatasGrid" page-loader-spin style="height: 100%;position: absolute;width: 100%;"></div>
<div class="modal-header {{TIClr}}">
    <h3 class="modal-title">{{HeaderName}}</h3>
    <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancel()">
        <i class="ti-close teal theme-text" aria-hidden="true"></i>
    </div>
</div>
<div class="HeaderContentDivider {{ATClr}} theme-box"></div>
<div class="modal-body {{TClrs}}">
    <div class="text-right">
		<button class="btn btn-gen stdBtn {{ATClr}} btn-bordered theme-text"> {{rowCount}} {{translation.AG_GRID_DATA_ROWS}} </button>
		<button class="btn btn-default btn-gen {{ATClr}} btn-core " ng-csv="SendGridData" filename="{{ filename }}.csv" field-separator="{{separator}}" decimal-separator="{{decimalSeparator}}"><i class="fa fa-download" aria-hidden="true"></i> Export to CSV</button>
    </div>
    <div id="requestList" class="ag-fresh" style="height: 400px;"></div>
</div>
