<div class="container-fluid" ng-controller="BaseKPIColMapController">
    <div>
        <div class="row padtb40">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"> {{translation.BAS_KPI_KEY}}</span>
                    <input id="Search_Value" type="text" value="" class="form-control" ng-model="searchval" uib-typeahead="suggesstion for suggesstion in getsuggesstion($viewValue)" typeahead-min-length="1" typeahead-loading="LoadingData" typeahead-on-select="onSelect($item)" typeahead-no-results="noResults" required />
                </div>
                <div>
                    <i ng-show="LoadingData"></i>
                    <div ng-show="noResults" style="color: red; padding-left: 0;">
                        {{translation.BAS_KPI_ERR}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-show="showsort">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title addOpacity {{ATClr}}">{{translation.BAS_KPI_COL_SHOW}} </h3>
                        </div>
                        <div class="panel-body">
                            <div ui-sortable="sortableOptions" class="apps-container {{ATClr}} addOpacity" ng-model="list1">
                                <div class="app " ng-model="app" ng-repeat="app in list1"> <i class="fa fa-arrows-alt" aria-hidden="true"></i> {{app.DispColName}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title addOpacity {{ATClr}}">{{translation.BAS_KPI_COL_NOTSHOW}}  </h3>
                        </div>
                        <div class="panel-body">
                            <div ui-sortable="sortableOptions" class="apps-container {{ATClr}} addOpacity" ng-model="list2">
                                <div class="app " ng-model="app" ng-repeat="app in list2"> <i class="fa fa-arrows-alt" aria-hidden="true"></i> {{app.DispColName}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div class="col-xs-12 clearfix">
            <div style="padding: 12px 0;text-align:right;bottom:0px">
                <div class="btn {{ATClr}} theme-box " ng-click="save()">{{translation.BTN_SAV_CHANG}}</div>
                <div class="btn {{ATClr}} theme-text" ng-click="reset()" style="font-weight:400;">{{translation.BTN_RESET}}</div>
            </div>
        </div>
    </div>

</div>
<div class="bgLoading" ng-show="isFetchingData">
</div>
<div class="msg" ng-show="isFetchingData"><i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;&nbsp;{{translation.MSG_SAVING_1}}</div>