﻿<div ng-controller="ClusterController" >
    <div class="container">
        <div class="card ">


            <div page-loader-spin-all-message ng-hide="isLoadClusterData" style="font-size: 18pt;"></div>

            <h3 class="title-h3 ">  CLUSTERING </h3>

            <br />

            <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button  type="button" class="btn {{ATClr}} btn-core theme-box {{opacityValCom}}" ng-click="UploadCluster()" uib-tooltip="{{translation.UP_Cluster_Data}}" tooltip-class="customClass" tooltip-placement="bottom"><i style="margin-right:10px" class="fa fa-upload"></i> Please Upload  Cluster Data</button>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div ng-hide="ISClusterDataNotAvail" style="width:100%" class="pull-left userinfo ">
                                <label style="float: left;margin-top: 10px;">{{translation.ASG_DT}}</label>
                                <select class=" form-control floating-label" ng-model="SelAssigmentId" placeholder="Select Cluster ID" ng-options="AssignmntNo.name for AssignmntNo in AssignmntNos" ng-change="OnSelectAsgId()"></select>
                            </div>
                            <div ng-hide="ISClusterDataAvail" style="width:100%" class="pull-left userinfo ">
                                <label>{{translation.NO_CLUSTER}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div ng-show="ISClusterDataAvail" class="row">
                                <div style="text-align:right" class="col-sm-3">
                                    <div ng-click="FilterTckData(3)" style="height:35px;width: 35px;cursor: pointer; margin: 0 auto; display:block;">
                                        <div round-progress max="TotalClusterRows" current="TotalClusterRows" color="blue" stroke='20' rounded='true' clockwise='true' responsive='true' duration='1200' animation='easeInOutQuart'></div>
                                        <div class='chldChrttxt' title="{{(TotalClusterRows/TotalClusterRows | number:2)*100}}%">{{TotalClusterRows}}</div>
                                       
                                    </div>
                                    <div style="margin-top: 5px;" class="text-center chldChrtsubText">All</div>
                                </div>
                                <div style="text-align:right" class="col-sm-3">
                                    <div ng-click="FilterTckData(0)" style="height:35px;width: 35px;cursor: pointer; margin: 0 auto; display:block;">
                                        <div round-progress max="TotalClusterRows" current="TckAccepted" color="blue" stroke='20' rounded='true' clockwise='true' responsive='true' duration='1200' animation='easeInOutQuart'></div>
                                        <div class='chldChrttxt' title="{{(TckAccepted/TotalClusterRows | number:2)*100}}%">{{TckAccepted}}</div>
                                       
                                    </div>
                                    <div style="margin-top: 5px;" class="text-center chldChrtsubText">Accepted As <br />Clustered</div>
                                </div>
                                <div style="text-align:right" class="col-sm-3">
                                    <div ng-click="FilterTckData(1)" style="height: 35px;width: 35px;cursor: pointer; margin: 0 auto; display:block;">
                                        <div round-progress max="TotalClusterRows" current='TckUnCategorized' color="blue" stroke='20' rounded='true' clockwise='true' responsive='true' duration='1200' animation='easeInOutQuart'></div>
                                        <div class='chldChrttxt' title="{{(TckUnCategorized/TotalClusterRows | number:2)*100}}%">{{TckUnCategorized}}</div>
                                        
                                    </div>
                                    <div style="margin-top: 5px;" class="text-center chldChrtsubText">Marked <br />Un-Categorized</div>
                                </div>
                                <div style="text-align:right" class="col-sm-3">
                                    <div ng-click="FilterTckData(2)" style="height: 35px;width: 35px;cursor: pointer; margin: 0 auto; display:block;">
                                        <div round-progress max="TotalClusterRows" current='TckReCluster' color="blue" stroke='20' rounded='true' clockwise='true' responsive='true' duration='1200' animation='easeInOutQuart'></div>
                                        <div class='chldChrttxt' title="{{(TckReCluster/TotalClusterRows | number:2)*100}}%">{{TckReCluster}}</div>
                                        
                                    </div>
                                    <div style="margin-top: 5px;" class="text-center chldChrtsubText">Re-Send For<br /> Clustering</div>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>
            </div>


        <div ng-show="ClusterData">
            <br />
            <div class="card">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-sm-10 col col-sm-offset-1" style="margin-bottom: 20px;">
                        <div style="height: 300px; ">
                            <div id="demo" style="width: 100%; height: 250px; "></div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
                <div class="card">
                    
                    <div ng-show="IsClusterTableAvail" class="row">
                        <div class="col-lg-12" style="margin-right:10px">
                            <label style="float:right;">: <span class="{{ATClr}}  btn-bordered theme-text " > {{TotalRows}} rows</span>  </label>
                        </div>
                        <div class="col-lg-12" style="margin: 10px 0;">
                            <div id="masterTable1" style="width: 100%; background-color: inherit;" class="hot handsontable"></div>
                        </div>
                    </div>
                    <div ng-show="IsClusterTableNotAvail" class="row">
                        <label style="height:345px;" class="col-sm-12">Sorry! No data available</label>
                    </div>
                    
                    
                </div> <br />
            <div class="card">


                <div class="alert sudc-aler" role="alert">
                    <div class="row">
                        <div class="col-lg-12" style="margin-bottom: 20px;">
                            
                                

                                <div class="radio radio-primary" style="text-align: center; padding-bottom: 10px;">
                                    <div class="form-group"> <strong>
    <div class="radio">
        <label class="control-label"> Is clustering quality acceptable ?</label>
        <label>
            <input type="radio" name="IsCluster" value="0" ng-model="IsCluster" ng-change="ChangeIsCluster(0)">
            Yes
        </label>
        <label>
            <input type="radio" name="IsCluster" value="1" ng-model="IsCluster" ng-change="ChangeIsCluster(1)">
            No
        </label>
    </div>
</strong>
                                    </div>
                                </div>

                                
                           

                            <div ng-show="ClusteringYes" style="margin-left: 10px;" class="form-group label-floating">
                                <label for="i5i" style="margin-left: 10px;" class="control-label">Enter the appropriate tag for this cluster</label>
                                <input ng-model="TagName" ng-change="ChangeTagname()" uib-typeahead="suggesstion for suggesstion in getsuggesstion($viewValue)" typeahead-on-select="onSelect($item)" typeahead-min-length="1" typeahead-loading="LoadingData" type="text" class="form-control" >
                            </div>
                            <div ng-show="ClusteringNo" class="">
                                <div class="col-lg-12">
                                    <div class="radio radio-primary">
                                        <div class="form-group">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="Cluster" value="0" ng-model="ISRecluster" ng-change="ChangeIsRecluster(0)">
                                                    I want to send this entire cluster for Re-clustering ?
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="Cluster" value="1" ng-model="ISRecluster" ng-change="ChangeIsRecluster(1)">
                                                    I want to mark this cluster as Uncategorized requests ?
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" >
                    <div class="col-sm-6 text-left">
                        <div class="btn-gro  btn-sharp hidden-md hidden-sm" id="Div1">
                            <button style="margin-right: 10px !important;" type="button" class="btn {{ATClr}}  btn-bordered theme-text {{opacityValCom}}" ng-show="Prevbtn" ng-click="Previous()" uib-tooltip="{{translation.btn_Prev}}" tooltip-class="customClass" tooltip-placement="bottom"><i class="ti-angle-left"></i> Previous</button>
                            <button style="margin-right: 10px !important;" type="button" class="btn {{ATClr}} btn-bordered theme-text {{opacityValCom}}" ng-show="Nextbtn" ng-click="Next()" uib-tooltip="{{translation.btn_Next}}" tooltip-class="customClass" tooltip-placement="bottom"><i class="ti-angle-right"></i> Next</button>
                                   </div>
                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="btn-gup  btn-sharp hidden-md hidden-sm" id="Div2">
                            <button style="margin-right: 10px !important;" type="button" class="btn btn-core {{ATClr}} theme-box {{opacityValCom}}" ng-click="SaveClusterData()" uib-tooltip="{{translation.btn_Save}}" tooltip-class="customClass" tooltip-placement="bottom"><i class="ti-save"></i> SAVE ALL</button>
                            <button style="margin-right: 10px !important;" type="button" class="btn  btn-core  {{ATClr}} theme-box {{opacityValCom}}" ng-click="ResendCluster()" uib-tooltip="{{translation.btn_Dwnld}}" tooltip-class="customClass" tooltip-placement="bottom"><i class="ti-back-right"></i>RESEND</button>
                        </div>
                    </div>
                    </div>
                <div class="clearfix"></div>

            </div>
        </div>
           
        </div>
    </div>


