<div ng-hide="isRetSearchData" page-loader-spin style="height: 100%;position: absolute;width: 100%;"></div>
<div class="modal-header {{TIClr}}">
    <h3 class="modal-title">{{translation.FILMDL_TITLE}} </h3>
    <div class="angularClose theme-text iconMD {{ATClr}} theme-box" data-dismiss="modal" ng-click="cancelModal()">
        <i class="ti-close teal theme-text" aria-hidden="true"></i>
    </div>
</div>
<div class="HeaderContentDivider {{ATClr}} theme-box"></div>
<div class="modal-body {{TClrs}}">
    <div>
        <input type="text" ng-model="search" ng-model-options="{debounce: 250}" class="form-control" placeholder="{{translation.FILMDL_KEY}}" style="margin-bottom:10px;">
        <p ng-show="filtered.length == 200"><span>{{translation.FILMDL_TITLE}}</span></p>
        <p ng-show="filtered.length == 0"><span>{{translation.FILMDL_RES_ERR_MSG}}</span></p>
        <p><b>{{translation.FILMDL_RES_SEL_VAL}}:&nbsp;</b><small class="filtermax">{{checkVal}}</small></p>
        <div class="checkBoxContainer">
            <form>
                <div class="form-group ota" ng-repeat="value in filtered  = (ValueCollection | filter:search | limitTo:200)">
                    <div class="checkbox">

                        <label>
                            <input type="checkbox" ng-model="value.TickedVal" ng-change="changeFun(value)" value={{value.GenericKey}}>
                            <input type="radio" ng-model="value.TickedVal" name="radioFilter" ng-change="changerFun(value)" value={{value.GenericKey}} ng-if="returnVal == 'radio'" class="ng-hide"> {{value.GenericValue}}
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<div class="modal-footer {{TIClr}}">
    <div class="btn {{ATClr}} theme-box  btn-core  boxShadow" ng-click="ok()">{{translation.BTN_OK}}</div>
    <div class="btn stdBtn {{ATClr}}  btn-bordered theme-text" ng-click="cancelModal()"><b>{{translation.BTN_CANCEL}}</b></div>
</div>

