﻿<div ng-controller="PreProcessController">
    <div page-loader-spin-all-message ng-hide="isLoadPreProcess" style="font-size: 18pt;"></div>
    <div class="card jumbotron" style="margin:40px">
        <div class="">
            <div class="jumbotron-content">
                <div ng-show="isPrepProc" class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-sm-10 col col-sm-offset-1" style="margin-bottom: 20px;">
                            <div class="card" style="height: 300px;background-color:rgba(255, 255, 255, 0.2);">
                                <div class="card-height-indicator"></div>
                                <div class="card-content">
                                    <div class="card-body" style="padding: 0;height:250px;">
                                        <div id="Proc_Cloud" style="width: 100%; height: 250px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="margin-right:10px">
                            <label style="float:right;">Total rows : <span class="{{ATClr}} theme-box" style="color:white;padding: 5px 10px 5px 10px;border-radius: 15px;"> {{TotalprocRows}}</span></label>
                        </div>
                        <div class="col-lg-12" style="margin: 10px 0;">
                            <div id="PreprocessTbl" style="width: 100%; background-color: inherit;z-index: 0;" class="handsontable"></div>
                        </div>
                    </div>
                    <div class="row" style="float:right">
                        <div class="col-sm-12">
                            <div class="btn-group  btn-sharp" id="Div1">
                                <button style="margin-right: 10px !important;" type="button" class="btn {{ATClr}} theme-box {{opacityValCom}}" ng-click="ProcessData()" uib-tooltip="{{translation.btn_Save}}" tooltip-class="customClass" tooltip-placement="bottom"><i style="margin-right: 10px;" class="fa fa-2x fa-circle-o-notch"></i>Process</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>