<div assesment-menu></div>
<div class="jumbotron" ng-if=" UserInfo.userID !='null' && UserInfo.userID !='dbError' && dbError != true">
    <div class="">
        <div class="jumbotron-content">
            <div class="jumbotron-title">
                <div class="col-sm-12">
                    <div class=" userinfo">
                        <h2 class="title-h2"> {{AsgFileName}}</h2>
                       
                    </div>
                    <div class="clearfix"></div>
              
                </div>
                <div class="clearfix"></div>
                <div class="">
                    <div page-loader-spin-all ng-hide="isLoadAsgData"></div>
                    <div class="jumbotron">
                        <div class="jumbotron-content">
                            <div style="max-width:440px; min-height:100px; margin:0 auto;padding:0px;">
                                <div class="row">

                                    <div class="col-sm-3">
                                        <div ng-click="GetTicketDetails(3)" class="TckType title-h3 {{ATClr}} theme-text">

                                            <div counter value="0" to="{{ NotClustered}}"  class="title-h3" >
                                                {{ NotClustered }}
                                            </div>

                                        </div>
                                        <div class="chldChrtsubText"> {{ NotClustered }} Not Yet
                                            <br> Clustered</div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div ng-click="GetTicketDetails(0)" class="TckType title-h3  {{ATClr}} theme-text">
                                           <div counter value="autoStartVar" to="{{ AcceptTck}}" class="title-h3" >
                                                {{ AcceptTck | number:0 }}
                                            </div>
                                            

                                        </div>
                                        <div class="chldChrtsubText"> {{ AcceptTck  }} Accepted As
                                            <br> Clustered</div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div ng-click="GetTicketDetails(1)" class="TckType title-h3  {{ATClr}} theme-text">
                                            <div counter value="autoStartVar" to="{{UnCatTck}}" class="title-h3" >
                                                {{ UnCatTck | number:0 }}
                                            </div>
                                            

                                        </div>
                                        <div class="chldChrtsubText"> {{ UnCatTck  }}Marked
                                            <br>Un-Categorized</div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div ng-click="GetTicketDetails(2)" class="TckType title-h3  {{ATClr}} theme-text">
                                            <div counter value="ReClustTck" to="{{ ReClustTck}}" class="title-h3" >
                                                {{ ReClustTck  }}
                                            </div>
                                           

                                        </div>
                                        <div class="chldChrtsubText"> {{ ReClustTck  }} Re-Send For
                                            <br>Clustering</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div  class=" wizard-card" data-color="{{ATClr}}" id="wizard">
							
							<div class="wizard-navigation">
									<div class="progress-with-circle">
									    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: {{ActTabProgress}}%;"></div>
									</div>
									<ul class="nav nav-pills">
										<li  style="width: 33%;" ng-repeat="item in LiElements"  ng-class="{' active':ActTab==item.tabID,'visited':ActTab>item.tabID,'DisabledProf':ActTab<item.tabID}">
											<a class="{{ATClr}} " ng-click="ChangeStep(item.tabID,ActTab)" data-toggle="tab" aria-expanded="true" ng-class="{' active':ActTab==item.tabID,'visited':ActTab>item.tabID,'DisabledProf':ActTab<item.tabID}">
												<div class="icon-circle checked ">
													<i class="{{item.icon}}  "></i>
												</div>
												<div class="clearfix {{ActTab}}"></div>  
												<span class="btn-link" style="padding-top:18px; display:block;" ng-class="{' bold':ActTabProg==item.tabID}">{{item.name}} </span>
												
											</a>
										</li>
									   
										
									</ul>
								</div>
							
							
							
                                
                            </div>
                            
                            <div class="tab-content">
                                <div ng-repeat="item in ProcSteps" ng-switch="{{item.id}}" ng-trim="true" class="kpiGridsterFirstChild" ng-if="ProcSteps.length > 0">
                                    <div style="margin-top: 110px;" process-steps ng-switch-when="1" class="kpiChildDiv" type="1">
                                    </div>
                                    <div style="margin-top: 110px;" process-steps ng-switch-when="2" class="kpiChildDiv" type="2">
                                    </div>
                                    <div style="margin-top: 110px;" process-steps ng-switch-when="3" class="kpiChildDiv" type="3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>