﻿<div ng-hide="isStartPreProc" page-loader-spin style="height: 100%;position: absolute;width: 100%;"></div>
<div class="modal-header">
    <h3 class="modal-title">{{translation.PRE_RECLUSTER}}</h3>
    <div class="angularClose iconMD {{ATClr}} theme-text" data-dismiss="modal" ng-click="cancel()">
        <i class="ti-close teal theme-text" aria-hidden="true"></i>
    </div>
</div>
<div class="modal-body modalChart" style="min-height:100px;">
    <div style="border-bottom: 1px solid silver;text-align: center;" class="row">
        <div class="col-sm-12">
            <label>Do you want to </label>
        </div>
    </div>
    <div style="margin: 15px;">
        <div class="col-sm-6 btn btn-dialog {{ATClr}} theme-text" ng-click="DownloadClusterData()">Download Tickets for Re-Processing</div>
        <label style="text-align: center;line-height: 30px;" class="col-sm-2">or</label>
        <div class="col-sm-3 btn stdBtn btn-dialog {{ATClr}} theme-box boxShadow" ng-click="GotoView()">Start Re-Process</div>
    </div>
</div>
<div class="modal-footer">    
    <div class="btn stdBtn {{ATClr}}  btn-core theme-text" ng-click="cancel()"><b>{{translation.BTN_NO}}</b></div>
</div>
