﻿<div ng-controller="StopWordController">
    <div page-loader-spin-all ng-hide="isStopLoadData"></div>
    <div class="container" >
        <div class="card ">
		<h3 class="title-h3 ">  Stop Words </h3>
           
               
                    
                        <div  ng-show="IsStopAvail">
							<div class="row">
								<div class="col-sm-4 text-left">
								  <label ><span class="{{ATClr}} btn  btn-bordered theme-text" > {{StopRows}} Rows </span></label>
								</div>
								<div class="col-sm-8 text-right">
								  
								  <button  type="button" class="btn {{ATClr}}  btn-core theme-box {{opacityValCom}}" ng-click="DownloadtoclusterData()" ng-disabled="DownloadTickFlag" ><i class="ti-download"></i>   {{translation.DOWN_CLUSTER}}</button>
         <button type="button" class="btn {{ATClr}} btn-core theme-box {{opacityValCom}}" ng-click="Process()" > <i class="ti-save-alt"></i>  {{translation.BTN_Process}}</button>
           
								</div>
								
							</div>
							
							<br>
							
							<div class="clearfix"></div>
							
							 <!--
							<table ng-table="tableParams" class="table table-bordered table-striped">
							<tr ng-repeat="row in tabledata">
							  <td data-title="'Word'" filter="{Word: 'text'}" style="width:30%">{{row.Word}}</td>
							  <td data-title="'Count'" filter="{Count: 'number'}">{{row.Count}}</td>
							  <td data-title="'Length'">{{row.money}}</td>
							  <td data-title="'Replace with'"  style="width:30%"> <input type="text"  ng-model="row.Rep_word" class="editable-input form-control input-sm" /> </td>
							  <td data-title="'Remove'" >{{row.Remove_Word}}</td>
							</tr>
						  </table> -->
							<div class="clearfix"></div>
                           <div id="stopWordTable" class="hot handsontable"></div>
                        </div>
						<div class="alert alert-danger" role="alert" ng-show="IsStopNotAvail"> Sorry! No stop words are available.Kindly upload </div>
                                               
                    
                  
               
           
           
        </div>
    </div>
</div>
