<!--Hour Heat Map-->
<style>
    .mh500 {
        min-height: 500px;
    }
    
    .mh500 div#myGrid {
        min-height: 500px !important;
    }
    
    .HourHeat .swContainr .swatchGrp {
        padding: 0 !important;
        margin: 0;
    }
    
    .slick-slide .HourHeat .legend rect {
        y: 153;
    }
	@media (min-width: 1400px) {
	.slick-slide .HourHeat .legend rect {
        y: 180;
    }}
</style>
<div id='{{KPIID}}' class='kpiCmnCls' ng-controller="HeatMapController">

    <style>
rect.bordered {
            stroke: rgba(255, 255, 255, 0.5);
            stroke-width: 1px;
            rx: 0;
            ry: 0;
        }
        
        .dark rect.bordered {
            stroke: rgba(32, 41, 56, 0.5);
            stroke-width: 1px;
            rx: 0;
            ry: 0;
        }
        
        text.mono {
            font-size: 9pt;
            font-family: Consolas, courier;
            fill: #888;
        }
        
        text.axis-workweek {
            fill: #000000;
    }
    .dark text.axis-workweek {
        fill: #fff;
    }
    text.axis-worktime {
        fill: #000000;
	}
	.dark text.axis-worktime {
        fill: #fff;
	}
    </style>
    <div ng-hide="isLoadCmpltd" page-loader-spin ng-class="{ngHide:IsShowError== true}"></div>
	<div ng-show="IsShowError" class="widgetError" kpi-error-msg-two></div>
	<div page-reorder ng-show="isReorderData"></div>
    <div class="kpiContainer HourHeat  {{isLoadCmpltd? " " : 'BlurClass '}}">
        <div class='frontPanel kpi-panel'>
            <div class="kpi-heading" ng-if="IsZoom == false ">

                <div class='pull-left kpi-title ng-invisible' uib-tooltip="{{kpiname}}" tooltip-class="customClass" tooltip-placement="bottom" tooltip-check="kpiname">{{kpiname}}</div>
                <div class='pull-left kpi-title ng-isvisible'>{{kpiname}}</div>


            </div>

            <div class="kpi-content" ng-class="{'modalZoom' : IsZoom}">
                <div style="height:inherit; width:100%">
                    <div class='swContainr  clearfix'>

                        <div class='InVsComp swatchGrp'>
                            <div class="input-group">

                                
                                <div class="input-group-btn" uib-dropdown ng-show="prioritySwatch.length>0">
                                    <button type="button" class="btn btn-default dropdown-toggle {{ATClr}}  theme-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                         {{PriorityType}} <i class="fa fa-sort" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                        <li ng-repeat="swatch in prioritySwatch"> <a class='btn1 {{ATClr}} ' swatch-grp-width="{{prioritySwatch.length}}" data-chartid='{{swatch.name}}' data-parentid='{{kpiType}}' ng-click="changePriority(swatch.value)" sibs>{{swatch.name| titleCase}}</a></li>

                                    </ul>
                                </div>
								<span class="input-group-addon" ng-show="prioritySwatch.length>0">     |  <i class="fa fa-object-group" aria-hidden="true"></i></span>
                                <span class="input-group-addon  {{ATClr}}  theme-text" ng-show="prioritySwatch.length>0">
        <div style="float:none;" angular-multi-select input-model="CategoryObj" output-model="CategoryObjOp" selection-mode="single" button-label="<[ name ]>" item-label="<[ name ]>"  search-property="name" button-template="angular-multi-select-btn-data.htm" tick-property="ticked" on-close="fClose()"></div>
      </span>
                                <!-- /btn-group -->
                                <div class="input-group-btn  action-grp" uib-dropdown>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                        <i class="fa fa-cogs" aria-hidden="true"></i> Action<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                        <li class="hidden-xs"><a ng-click="expandChart()" title="{{translation.KPI_COM_EXP_CHART}}"><i class="fa fa-search-plus iconMD"></i> Zoom</a></li>
                                        <li><a ng-click="  openWidgetModal('lg',2,KPIID,KpiGroupType, KpiGroupID, KpiGroupKey)" title="{{translation.KPI_COM_OPN_SETT}}"><i class='fa fa-cog iconMD'></i> {{translation.KPI_COM_OPN_SETT}} </a></li>
                                        <li><a ng-click="deleteDashboard('lg',0,dashBoardID,KPIID)" title="{{translation.KPI_COM_DEL_KPI}}"><i class='fa fa-times iconMD'></i> {{translation.KPI_COM_DEL_KPI}}  </a></li>

                                    </ul>
                                </div>
                                <!-- /btn-group -->

                            </div>
                            <!-- /input-group -->
                        </div>
                    </div>




                    <div id="heatchart{{KPIID}}{{IsZoom}}" class=" hourheatmap heatchart" style="height:calc(100% - 80px); width:90%; margin:0 auto;max-width:900px; " ng-class="{'mh500' : IsZoom}"></div>

                </div>

            </div>
        </div>
    </div>
</div>