﻿<!--In VS Comp KPI-->
<div id='{{kpiType}}' class='kpiType2 kpiCmnCls' ng-controller="IncomingVcCompletedController" ng-app="graphApp">
    <div ng-hide="IsZoom">
        <div page-loader-spin-big ng-hide="isIncVsCompLoaded"ng-class="{ngHide:IsShowError== true}"></div>
	
    </div>
<div ng-show="IsShowError" class="widgetError" kpi-error-msg-two></div>
    <div page-reorder ng-show="isReorderData">

    </div>
    <div class="kpiContainer {{isLoadCmpltd? " " : " blurclass "}}">
        <div class='frontPanel kpi-panel'>
            <div class="kpi-heading" ng-hide="IsZoom">

                <div class='pull-left kpi-title'>{{kpiname}}</div>


            </div>
            <div class="kpi-content" ng-class="{'modalZoom' : IsZoom}">
                <div ng-hide="datatoshow" class="alert alert-warning alert-center alert-center" style="height: auto; text-align: center">
                    <span>Error occurred while retrieving the KPI Data</span>
                </div>
                <div ng-show="datatoshow" style="height:inherit">
                    <div class='swContainr swatchGrp  clearfix'>

                        <div class='InVsComp  col-md-12'>
                            <div class="input-group">
                               
                                <div class="input-group-btn" uib-dropdown>
                                    <button type="button" class="btn btn-default dropdown-toggle {{ATClr}}  theme-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                         {{selectPriorityName}} <i class="fa fa-sort" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                        <li ng-repeat="swatch in prioritySwatch"> <a class='btn1 {{ATClr}} ' swatch-grp-width="{{prioritySwatch.length}}" data-chartid='{{swatch.name}}' data-parentid='{{kpiType}}' ng-click="plotIncVsCompChart(swatch.value)" sibs>{{swatch.name| titleCase}}</a></li>

                                    </ul>
                                </div>
                                <!-- /btn-group -->
                                <div class="input-group-btn  action-grp" uib-dropdown>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                        <i class="fa fa-cogs" aria-hidden="true"></i> Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                        <li class="hidden-xs"><a ng-click="expandChart()" title="{{translation.KPI_COM_EXP_CHART}}"><i class="fa fa-search-plus iconMD"></i> Zoom</a></li>
                                        <li><a ng-click="  openWidgetModal('lg',2,KPIID,KpiGroupType, KpiGroupID, KpiGroupKey)" title="{{translation.KPI_COM_OPN_SETT}}"><i class='fa fa-cog iconMD'></i> {{translation.KPI_COM_OPN_SETT}} </a></li>
                                        <li><a ng-click="deleteDashboard('lg',0,dashBoardID,KPIID)" title="{{translation.KPI_COM_DEL_KPI}}"><i class='fa fa-times iconMD'></i> {{translation.KPI_COM_DEL_KPI}}  </a></li>

                                    </ul>
                                </div>
                                <!-- /btn-group -->

                            </div>
                            <!-- /input-group -->
                            <div class="btn-group pull-right kpi-heading-menu " uib-dropdown>

                            </div>


                        </div>
                    </div>
                    <div class='{{KPIID}}InVsComChrt InVsComChrt c3Chart {{KPIIDZoom}}InVsComChrt'></div>
                    <div ng-if="IsZoom==true">
                        <table class="zoomTableData">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th ng-repeat="rowItem in IncVsCompchartData">
                                        {{rowItem.PriorityMonthDate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> New</td>
                                    <td ng-repeat="rowItem in IncVsCompchartData" align="right">
                                        {{rowItem.Incoming}}
                                    </td>
                                </tr>
                                <tr>
                                    <td> Backlog</td>
                                    <td ng-repeat="rowItem in IncVsCompchartData" align="right">
                                        {{rowItem.Backlog}}
                                    </td>
                                </tr>
                                <tr>
                                    <td> Completed</td>
                                    <td ng-repeat="rowItem in IncVsCompchartData" align="right">
                                        {{rowItem.Completed}}
                                    </td>
                                </tr>
                                <tr>
                                    <td> Completion Rate(%)</td>
                                    <td ng-repeat="rowItem in IncVsCompchartData" align="right">
                                        {{(rowItem.Completed *100)/(rowItem.Backlog+rowItem.Incoming) | number : 2}}%
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>