<style>
    .slider .treeMap {
        width: 100%;
        /*  height: calc(100% - 55px);
		max-height: calc(100% - 55px);*/
        height: 310px;
        position: relative;
    }
    
    .carousel-demo .treeMap {
        width: 100%;
        min-height: calc(100% - 20px);
        position: relative;
    }
    
    groupListKPIItem .treeMap {
        width: 100%;
        height: 410px;
        position: relative;
    }
    
    .groupListKPIItem .treeMap {
        width: 100%;
        height: 410px;
        position: relative;
    }
    
    .treeMap > svg {
        height: inherit
    }
    
    .treeMap text {
        pointer-events: none;
        fill: #000000
    }
    
    .dark .treeMap text {
        fill: #000000
    }
    
    .treeMap rect {
        stroke: #fff;
    }
    
    .dark .treeMap rect {
        stroke: #000000;
    }
    
	.frontPanel .grandparent { visibility:hidden ; opacity: 0}
	.frontPanel.showit .grandparent { visibility:visible ; opacity: 1}
    .treeMap rect.parent,
    .treeMap .grandparent rect {
        stroke-width: 1px;
    }
    
    .treeMap .grandparent rect {
        fill: rgb(119, 119, 119);
    }
    
    .treeMap .children rect.parent,
    .grandparent rect {
        cursor: pointer;
    }
    
    .treeMap .children:hover rect.child {}
    
    #treeMapToolTip {
        position: absolute;
        z-index: 99999;
        color: rgb(255, 255, 255);
        padding: 6px 12px;
        border-radius: 2px;
        background-color: rgb(119, 119, 119);
    }
</style>

<div id='{{KPIID}}' class='kpiCmnCls' ng-controller="treeMappingController">
    <div ng-hide="isLoadCmpltd" page-loader-spin ng-class="{ngHide:IsShowError== true}"></div>
	<div ng-show="IsShowError" class="widgetError" kpi-error-msg-two></div>
    <div page-reorder ng-show="isReorderData"></div>
    <div class="kpiContainer {{isLoadCmpltd? " " : " blurclass "}}">
        <div class='frontPanel kpi-panel' ng-class="{ngHide:IsShowError== true , showit:isLoadCmpltd== true}">
            <div class="kpi-heading" ng-if="IsZoom==false">
                <div class='pull-left kpi-title ng-invisible' uib-tooltip="{{kpiname}}" tooltip-class="customClass" tooltip-placement="bottom" tooltip-check="kpiname">{{kpiname}}</div>
                <div class='pull-left kpi-title ng-isvisible'>{{kpiname}}</div>




            </div>
            <div class="kpi-content" >
                <div class='swContainr  swatchGrp clearfix'>
                    <div class='InVsComp  col-md-12'>
                        <div class="input-group sm" ng-show="isLoadCmpltd" ng-class="{ngHide:IsShowError== true}">

                            <!-- /btn-group -->
                            <div class="input-group-btn  action-grp" uib-dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Action<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li><a ng-click="  openWidgetModal('lg',2,KPIID,KpiGroupType, KpiGroupID, KpiGroupKey)" title="{{translation.KPI_COM_OPN_SETT}}"><i class='fa fa-cog iconMD'></i> {{translation.KPI_COM_OPN_SETT}} </a></li>
                                    <li><a ng-click="deleteDashboard('lg',0,dashBoardID,KPIID)" title="{{translation.KPI_COM_DEL_KPI}}"><i class='fa fa-times iconMD'></i> {{translation.KPI_COM_DEL_KPI}}  </a></li>

                                </ul>
                            </div>
                            <!-- /btn-group -->

                        </div>
                        <!-- /input-group -->
                        <div class="btn-group pull-right kpi-heading-menu " uib-dropdown>

                        </div>


                    </div>
                </div>
                <div id="treeMapToolTi" class="ng-hide"></div>
                <p id="scalablechart{{KPIID}}" class="treeMap {{ATClr}} theme-fill" style="margin-left:0px; margin-right:0px;">

            </div>
        </div>
    </div>
</div>