<style>
    #cloud-dynamic {
        width: 95% !important;
        margin: 0 auto;
        height: 90%;
        font-family: 'Segoe UI', Roboto, Helvetica, Sans-Serif !important;
        min-width: 200px;
        min-height: 150px;
    }
    /*div.jqcloud span {
        color: inherit !important;
            
        }*/
</style>
<div id='{{KPIID}}' class='kpiCmnCls' ng-controller="wordCloudController">
    <div ng-hide="isLoadCmpltd" page-loader-spin ng-class="{ngHide:IsShowError== true}"></div>
	<div ng-show="IsShowError" class="widgetError" kpi-error-msg-two></div>
    <div page-reorder ng-show="isReorderData"></div>
    <div class="kpiContainer {{isLoadCmpltd? " " : " blurclass "}}">
        <div class='frontPanel kpi-panel'>
            <div class="kpi-heading" ng-if="IsZoom==false">
                <div class='pull-left kpi-title ng-invisible' uib-tooltip="{{kpiname}}" tooltip-class="customClass" tooltip-placement="bottom" tooltip-check="kpiname">{{kpiname}}</div>
                <div class='pull-left kpi-title ng-isvisible'>{{kpiname}}</div>



            </div>
            <div class="kpi-content" theme-color-change="ATClr" steps="steps">
                <div class='swContainr  clearfix'>

                    <div class='InVsComp swatchGrp'>
                        <div class="input-group sm" ng-show="isLoadCmpltd">



                            <div class="input-group-btn  action-grp" uib-dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Action<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li><a ng-click="  openWidgetModal('lg',2,KPIID,KpiGroupType, KpiGroupID, KpiGroupKey)" title="{{translation.KPI_COM_OPN_SETT}}"><i class='fa fa-cog iconMD'></i> {{translation.KPI_COM_OPN_SETT}} </a></li>
                                    <li><a ng-click="deleteDashboard('lg',0,dashBoardID,KPIID)" title="{{translation.KPI_COM_DEL_KPI}}"><i class='fa fa-times iconMD'></i> {{translation.KPI_COM_DEL_KPI}}  </a></li>

                                </ul>
                            </div>
                            <!-- /btn-group -->

                        </div>
                        <!-- /input-group -->
                    </div>
                </div>
                <div style="cursor:pointer" id="cloud-dynamic" class="theme-text cloud-dynamic"></div>

            </div>
        </div>
    </div>
</div>