﻿<!DOCTYPE html>
<html lang="en" ng-app="dashboard" >

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../Media/favicon.ico" rel="icon">
    <title>Automation Discovery Tool</title>
		<link href="https://fonts.googleapis.com/css?family=Palanquin:300,400,600,700|Pathway+Gothic+One" rel="stylesheet">
	
    <!--<base href="/Html/">-->

    <link href="MosaicDiscovery/bower_components/bootstrap-css-only/css/bootstrap.min.css" rel="stylesheet" />
    <link href="MosaicDiscovery/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="MosaicDiscovery/bower_components/angular-ui-notification/dist/angular-ui-notification.min.css" rel="stylesheet" />
    <link href="MosaicDiscovery/bower_components/angular-gridster/dist/angular-gridster.min.css" rel="stylesheet" />
    <!--<link href="MosaicDiscovery/non_bower_components/angular-grid/angular-grid.min.css" rel="stylesheet" />
    <link href="MosaicDiscovery/non_bower_components/angular-grid/theme-fresh.min.css" rel="stylesheet" />-->
    <link href="MosaicDiscovery/non_bower_components/ag-grid/dist/styles/ag-grid.css" rel="stylesheet" />
    <link href="MosaicDiscovery/non_bower_components/ag-grid/dist/styles/theme-fresh.css" rel="stylesheet" />
    <link href="MosaicDiscovery/non_bower_components/angular-multi-select/angular-multi-select.min.css" rel="stylesheet" />
    <link href="MosaicDiscovery/bower_components/jqcloud2/dist/jqcloud.css" rel="stylesheet" />
    <link href="MosaicDiscovery/bower_components/weather-icons/css/weather-icons.min.css" rel="stylesheet" />
    <link href="MosaicDiscovery/bower_components/angular-bootstrap-colorpicker/css/colorpicker.min.css" rel="stylesheet" />
    <link href="MosaicDiscovery/bower_components/intro.js/minified/introjs.min.css" rel="stylesheet" />
    <link href="MosaicDiscovery/bower_components/vis/dist/vis.css" rel="stylesheet" />
    <link href="MosaicDiscovery/non_bower_components/ng-input-tag/ng-tags-input.css" rel="stylesheet" />
    <link href="MosaicDiscovery/bower_components/handsontable/dist/handsontable.full.css" rel="stylesheet" />
    <link href="MosaicDiscovery/bower_components/c3/c3.css" rel="stylesheet" />
    <link href="MosaicDiscovery/bower_components/cal-heatmap/cal-heatmap.css" rel="stylesheet"/>
    <link href="MosaicDiscovery/bower_components/angular-carousel/angular-carousel.css" rel="stylesheet" />
    <link href="MosaicDiscovery/bower_components/angular-slick-carousel/src/slick.min.css" rel="stylesheet" />
    <link href="MosaicDiscovery/bower_components/angular-slick-carousel/src/slick-theme.min.css" rel="stylesheet" />
    <link href="MosaicDiscovery/bower_components/angular-daterangepicker/daterangepicker.min.css" rel="stylesheet">	
	  <link href="MosaicDiscovery/bower_components/themift-icons/themify-icons.css" rel="stylesheet">	
    <link href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" rel="stylesheet" />
	 <link href="app/CustomCSS/Layout.css" rel="stylesheet">
    <!-- Custom styles for this template
   
    <link href="app/CustomCSS/Metro.css" rel="stylesheet"> -->
	<link href="app/CustomCSS/custom.css" rel="stylesheet" />
	
	  <link href="app/CustomCSS/header-footer-sidebar.css?v=1" rel="stylesheet">
    <link href="app/CustomCSS/menu-settings.css?v=1" rel="stylesheet">
	
    <link href="app/CustomCSS/RequestInfo.css" rel="stylesheet" />
    <link href="app/CustomCSS/settings.css" rel="stylesheet" />
    <link href="app/CustomCSS/Admin.css" rel="stylesheet" />    
    <link href="app/CustomCSS/Cluster.css" rel="stylesheet" />
    <link href="app/CustomCSS/sidebar.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="  {{TClr}}" id="bodyContainer"  ng-controller="MasterController" ng-class="{darkTheme:TClr == 'dark'}">
    <div class="sidebar-overlay " ng-class="{active:scopeMenu == true}" ng-click="SwapSideMenu($event)"></div>
    <!-- Material sidebar -->
     <aside id="sidebar" class="sidebar sidebar-default   sidebar-fixed-right " role="navigation" ng-class="{open:scopeMenu == true}">
        <!-- Sidebar header -->
        <div class="sidebar-header header-cover ">
            <!-- Top bar -->
            <div class="top-bar {{TIClr}} ">
                <div class=""> </div>
               
            </div>
            <div class="HeaderContentDivider {{ATClr}} theme-box"></div>
            <!-- Sidebar toggle button -->
        </div>
        <!-- Sidebar navigation -->
		
        <ul class="nav sidebar-nav">
            <li ng-click="loginDash()" ng-hide="UserInfo.userName"> <a><i class="fa fa-sign-in   "></i> <span class="title ">Log in</span> </a></li>
			
			
            
            
           
			<li class="dropdown ddMainmenu" ng-show="UserInfo.userName"  ng-class="{inverseSubMenu:scopeMenuUser == false}">
				<a rel="nofollow" class="main ripple-effect dropdown-toggle"  ng-click="scopeMenuUser = !scopeMenuUser">
					 {{UserInfo.userName}}
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu"  uib-collapse="scopeMenuUser">					
					<li><a ng-href="#/adminSettings" ng-show="UserInfo.userName"><span class="title "> Settings</span> <i class="ti-settings "></i> </a></li>
					<li><a ng-href="#/profile" ng-show="UserInfo.userName"><span class="title "> My Profile</span> <i class="ti-user"></i>  </a></li>
					<li ng-click="logOut()" ng-show="UserInfo.userName"> <a><span class="title ">Log Out</span> <i class="ti-shift-right   "></i> </a></li>
				</ul>
			</li>
			<li class="dropdown ng-hide ddMainmenu" ng-class="{inverseSubMenu:scopeMenuWalk == false}">
				<a rel="nofollow" class="main ripple-effect dropdown-toggle"  ng-click="scopeMenuWalk = !scopeMenuWalk">
					  WalkThrough
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu"  uib-collapse="scopeMenuWalk" style="height: 0px;">
					<li> <a ng-click="systemWalkThroughFn()">  <span class="title">Sys. WalkThrough</span> <i class="ti-layout-media-center-alt"></i></a></li>
					<li><a ng-click="systemWalkThroughFn()"> <span class="title">KPI WalkThrough</span> <i class="ti-widget"></i></a></li>
					<li><a ng-click="videoWalkThrough()">  <span class="title ">Video</span>  <i class="ti-video-clapper"></i></a> </li>
				</ul>
			</li>
			
			<li class="dropdown ddMainmenu" ng-class="{inverseSubMenu:scopeMenuTheme == false}">
				<a rel="nofollow" class="main ripple-effect dropdown-toggle"  ng-click="scopeMenuTheme = !scopeMenuTheme">
					 <i class="ti-palette "></i>  Appearance
					<b class="caret"></b>
				</a>
				
				<div class="tray" uib-collapse="scopeMenuTheme" >
                    <section class="base-theme-options">
                        <h5  class="theme-opt-text">Base Theme</h5>
						<div class="colorCubeContainer" >
                        <div class="colorCube theme-box light" title="white" ng-click="BaseThemeChange($event)">  <span class="" style="color:#000 !important"> LIGHT </span></div>
                        <div class="colorCube theme-box dark" title="black" ng-click="BaseThemeChange($event)"> <span class="" >DARK </span> </div>
						</div>
                    </section>
                    <section class="theme-options">
                        <h5 class="theme-opt-text">Accent Color</h5>
                        <hldr ng-repeat="choice in themeApplycolors">
                            <div class="colorBox theme-box {{choice}}" title="{{choice}}" ng-click="AccentColorChange($event)"></div>
                        </hldr>
                    </section>
                </div>
			</li>
			<li class="dropdown ng-hide ddMainmenu"  ng-class="{inverseSubMenu:scopeMenuHelp == false}">
				<a rel="nofollow" class="main ripple-effect dropdown-toggle"  ng-click="scopeMenuHelp = !scopeMenuHelp">
					  Governance Dashboard
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu"  uib-collapse="scopeMenuHelp" style="height: 0px;">
					
					<li><a ng-href="#/about"><span class="title ">About</span>  <i class="ti-info-alt"></i></a> </li>
					<li> <a ng-href="http://mosaic-automation.lntinfotech.com/products/governace-dashboard/getting-started">  <span class="title">Getting Started</span>  <i class="ti-control-play"></i></a></li>
					<li><a  ng-href="http://mosaic-automation.lntinfotech.com/products/governace-dashboard/get-support"> <span class="title">Get Help</span> <i class="ti-help-alt"></i> </a></li>
					<li><a  ng-href="http://mosaic-automation.lntinfotech.com/products/governace-dashboard/send-issue"> <span class="title">Report Issue</span> <i class="ti-email"></i> </a></li>
				</ul>
			</li>
       
        </ul>
    </aside>
    <!-- Material sidebar -->
    
    <header class="header {{BlurTop}} static-xs cast-shadow" ng-if="showHeader">
        <nav class="navbar navbar-default {{TIClr}} {{BlurTop}} navbar-fixed-top ">
		
		<div class="navbar-header pull-left">         
         
		  <a class="navbar-brand pull-left" href="#/main">
                    <span class="mosaic">  </span>
                    <span class="projname"> DISCOVERY </span>
                </a>
        </div>
		<div class="pull-right headerSettings">
                    <div class="btn-group logOutDrpDwn">
                        <a  style="display:none"type="button" class="links orange theme-text ng-hide" data-toggle="modal" data-target="#myModal" ng-click="loginDash()"> Login </a>
						<!-- Button trigger modal -->

                        <a class="links orange theme-text  hidden-xs" ng-show="UserInfo.userName" >{{UserInfo.userName}}</a>
                      	
						
                    </div>
                </div>
            
                <!--/.nav-collapse -->
           
        </nav>
    </header>
	<button type="button" ng-hide="hidesidebar" class="sidebar-toggle {{ATClr}} theme-box btn sidebar-toggle-btn-new c-hamburger c-hamburger--htx" ng-click="SwapSideMenu($event)" ng-class="{isActive:scopeMenu == true}">
        <span>{{scopeMenu}}</span>
    </button>
    <!-- Angular -->
    <div class="content-region {{BlurClass}}" id="allPages" page-height></div>
    <div >
      <div ng-view></div>  
    </div>
	<footer class="cssFooter stdBoxShadow fixed {{TIClr}} container-fluid ">
        <div class="row">
            <div class="col-sm-6 col-xs-8 ">
        
            </div>
            <div class="col-sm-6 col-xs-4 text-right" style="padding-top:3px;">
                <div style="float:right">
                    <svg width="41" height="23" xmlns="http://www.w3.org/2000/svg" stroke="null" style="vector-effect: non-scaling-stroke;" preserveAspectRatio="xMidYMid meet">

                        <g stroke="null">
                            <title stroke="null">background</title>
                            <rect stroke="null" fill="none" id="canvas_background" height="25" width="43" y="-1" x="-1"></rect>
                        </g>
                        <g stroke="null">
                            <title stroke="null">Layer 1</title>
                            <g id="svg_1" fill="#3432ff" transform="translate(0,163) scale(0.10000000149011612,-0.10000000149011612) ">
                                <path stroke="null" id="svg_2" d="m57.46383,1543.39095c0,-32.15854 -0.34577,-72.84103 -0.80679,-90.40554l-0.69153,-32.02939l49.675,0l49.79025,0l0,21.30988l0,21.30988l-48.75296,0.2583l-48.6377,0.38745l18.21032,10.33206l18.09507,10.33206l0,58.37615l0,58.5053l-18.44083,0l-18.44083,0l0,-58.37615z"></path>
                                <path stroke="null" id="svg_3" d="m146.21035,1580.45721l0,-21.30988l38.72575,-0.2583l38.72575,-0.38745l-17.7493,-10.07376l-17.63405,-9.94461l0.34577,-58.7636l0.23051,-58.7636l17.86456,0l17.86456,0l0,69.09566l0,69.09566l21.32221,0l21.32221,0l0,21.30988l0,21.30988l-60.50899,0l-60.50899,0l0,-21.30988z"></path>
                                <path stroke="null" id="svg_4" d="m315.28974,1591.30588l-18.09507,-10.20291l0.23051,-79.81517l0.34577,-79.68602l18.7866,-0.38745l18.67134,-0.2583l0,90.40554c0,49.72304 -0.34577,90.40554 -0.80679,90.27638c-0.57628,0 -9.10516,-4.64943 -19.13237,-10.33206z"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div style="float:right">
                    <div><i style="margin: 3px;" class="fa fa-bolt" aria-hidden="true"></i> Powered by  </div>
                </div>
               
            </div>
        </div>
    </footer>
    <div page-loader-spin-all ng-show="isFetchingData"></div>
    <div resize></div>

    
    <!-- ALL SCRIPTS-->
    <script src="MosaicDiscovery/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="MosaicDiscovery/bower_components/jquery-ui/jquery-ui.min.js"></script>
       <!--     <script src="../Scripts/noty/jquery.noty.js"></script>
            <script src="../Scripts/noty/layouts/top.js"></script>
            <script src="../Scripts/noty/themes/default.js"></script>
			
			-->
    <script src="MosaicDiscovery/bower_components/angular/angular.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-route/angular-route.min.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-carousel/angular-touch.min.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-carousel/angular-carousel.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-filter/dist/angular-filter.min.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-loader/angular-loader.min.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-gridster/dist/angular-gridster.min.js"></script>
	<script src="MosaicDiscovery/bower_components/angular-svg-round-progressbar/build/roundProgress.min.js"></script>
    <!--<script src="MosaicDiscovery/non_bower_components/angular-grid/angular-grid.js"></script>-->

    <script src="MosaicDiscovery/bower_components/mb-scrollbar/mb-scrollbar.min.js"></script>
    <script src="MosaicDiscovery/non_bower_components/ag-grid/dist/ag-grid.js"></script>
    <script src="MosaicDiscovery/bower_components/d3/d3.js"></script>
    <script src="MosaicDiscovery/bower_components/c3/c3.js"></script>
    <script src="MosaicDiscovery/bower_components/moment/min/moment.min.js"></script>
   <script src="MosaicDiscovery/bower_components/handsontable/dist/handsontable.full.js"></script>
    <script src="MosaicDiscovery/non_bower_components/angular-multi-select/angular-multi-select.min.js"></script>
    <script src="MosaicDiscovery/bower_components/intro.js/minified/intro.min.js"></script>
    <script src="MosaicDiscovery/non_bower_components/ng-input-tag/ng-tags-input.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-intro.js/build/angular-intro.min.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
    <script src="MosaicDiscovery/bower_components/vis/dist/vis.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-ui-sortable/sortable.min.js"></script>
    <script src="app/CustomJS/iconMapping.js"></script>
    <script src="MosaicDiscovery/bower_components/jqcloud2/dist/jqcloud.js"></script>
    <script src="MosaicDiscovery/bower_components/jqcloud2/dist/angular-jqcloud.js"></script>
    <script src="MosaicDiscovery/bower_components/cal-heatmap/cal-heatmap.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-slick-carousel/src/slick.min.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-slick-carousel/dist/angular-slick.js"></script>
    <script src="MosaicDiscovery/bower_components/ng-csv/build/ng-csv.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-daterangepicker/daterangepicker.min.js"></script>
    <script src="MosaicDiscovery/bower_components/angular-daterangepicker/angular-daterangepicker.min.js"></script>
   
     <!--
    <script src="MosaicDiscovery/bower_components/ng-table/ng-table.js"></script>-->

    <script src="app/CustomJS/general.js"></script>
    <script src="app/CustomJS/app.js"></script>
    <script src="app/CustomJS/Layout.js"></script>
    
    
    <script src="app/CustomJS/filters/filters.js"></script>
    <script src="app/CustomJS/services/services.js"></script>
    <script src="app/CustomJS/directives/directive.js"></script>
    <script src="app/CustomJS/controllers/master.js"></script>
    <script src="app/CustomJS/controllers/dashboardlist.js"></script>
    <script src="app/CustomJS/controllers/kpiListCtrl.js"></script>


    <script src="app/CustomJS/controllers/settings/dashboardSettings.js"></script>

    <script src="app/CustomJS/controllers/kpi/agingReportCtrl.js"></script>
    <script src="app/CustomJS/controllers/kpi/respResTrndCtrl.js"></script>
    <script src="app/CustomJS/controllers/kpi/scoreCardCtrl.js"></script>
    <script src="app/CustomJS/controllers/kpi/incCompCtrl.js"></script>
    <script src="app/CustomJS/controllers/kpi/respResExcPerCtrl.js"></script>
    <script src="app/CustomJS/controllers/kpi/pareChartCtrl.js"></script>
    <script src="app/CustomJS/controllers/kpi/pareTableCtrl.js"></script>
    <script src="app/CustomJS/controllers/kpi/treeMapping.js"></script>
    <script src="app/CustomJS/controllers/kpi/wordCloud.js"></script>
    <script src="app/CustomJS/controllers/kpi/heatmap.js"></script>
    <script src="app/CustomJS/controllers/kpi/dayheatmap.js"></script>
            <script src="app/CustomJS/controllers/UploaddataCtrl.js"></script>
            <script src="app/CustomJS/controllers/modals/AddAssessmentCtrl.js"></script>
    <script src="app/CustomJS/controllers/assesmentController.js"></script>
            <script src="app/CustomJS/controllers/procCtrl.js"></script>
    <script src="app/CustomJS/controllers/modals/widgetModalCtrl.js"></script>
    <script src="app/CustomJS/controllers/modals/dashBoardModalCtrl.js"></script>
    <script src="app/CustomJS/controllers/modals/dashBoardModalCloneCtrl.js"></script>
    <script src="app/CustomJS/controllers/modals/searchIconCtrl.js"></script>
    <script src="app/CustomJS/controllers/modals/deleteModalCtrl.js"></script>
    <script src="app/CustomJS/controllers/modals/zoomModalCtrl.js"></script>
            <script src="app/CustomJS/controllers/modals/uploadModalCtrl.js"></script>
            <script src="app/CustomJS/controllers/modals/getDrillDownModal.js"></script>
            <script src="app/CustomJS/controllers/StopWordCtrl.js"></script>
            <script src="app/CustomJS/controllers/atSettingCtrl.js"></script>
            <script src="app/CustomJS/controllers/modals/addPrepocWordCtrl.js"></script>
            <script src="app/CustomJS/controllers/modals/StrtPreprocModalCtrl.js"></script>
            <script src="app/CustomJS/controllers/modals/dwnlProcModal.js"></script>
    <script src="app/CustomJS/controllers/agGridCtrl.js"></script>
    <script src="app/CustomJS/controllers/filterCtrls.js"></script>
    <script src="app/CustomJS/controllers/requestDrillDownCtrl.js"></script>
    <script src="app/CustomJS/controllers/queryBuilderCtrl.js"></script>
    <script src="app/CustomJS/controllers/admin/adminCtrl.js"></script>
    <script src="app/CustomJS/controllers/admin/baseKpiColMapCtrl.js"></script>
    <script src="app/CustomJS/controllers/admin/masterColMapCtrl.js"></script>

            <script src="app/CustomJS/Cluster.js"></script>
     <script src="app/CustomJS/controllers/modals/LoginController.js"></script>


    <noscript>
        <div style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: #f2efe9;z-index:999999;">
            <div class="no-script-message">
                For full functionality of this page it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com" target="_blank">instructions how to enable JavaScript in your web browser</a>
            </div>
        </div>
    </noscript>
</body>

</html>