﻿.list {
    list-style: none outside none;
}

.apps-container {
   
    padding: 0 8px;
    min-width: 100%;
    min-height: 50px;
    overflow-y: scroll;
    height: 440px;
    display: inline-block;
}

.app {
        padding: 5px 12px;
    margin: 4px 0;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    border-radius: 0;
    font-weight: 400;
    cursor: move;
    background-color: rgba(0,0,0,0.1);
    font-size: 85%;
    text-transform: uppercase;
}

.logList {
    margin-top: 20px;
    min-height: 300px;
    padding: 5px 15px;
    border: 5px solid #000;
    border-radius: 15px;
}

.logItem {
    margin-bottom: 10px;
}

.logList:before {
    content: 'log';
    padding: 0 5px;
    position: relative;
    top: -1.1em;
    background-color: #FFF;
}

.container {
    margin: auto;
}

h3 {
    margin-top: 8px;
    margin-bottom: 15px;
}

]
.clear {
    clear: both;
}
