.container-settings{     z-index: 1;
    position: relative;}

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
}

.darkTheme    .nav-justified {
     background-color: #303d48;
    border: 1px solid #5a646d;
}
.nav-justified>li {
    display: table-cell;
    width: 1%;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
}
.darkTheme    .nav-justified > li > a {
   color: #bdbdbd;
	 
}
.nav-justified   a:hover,
.nav-justified> a:focus {
  background-color: #dedede  !important;
  background-image: none;
}

.darkTheme    .nav-justified   a:hover,
.darkTheme    .nav-justified> a:focus {
  background-color: #495865   !important;
  background-image: none;
   color: #fff;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ffffff;
  background-image: none;
}
.darkTheme   .nav-justified > .active > a,
.darkTheme   .nav-justified > .active > a:hover,
.darkTheme   .nav-justified > .active > a:focus {
  background-color: #3e4c58;
  background-image: none;
     color: #fff;
}

.nav-justified > li:last-child > a {
  border-bottom: 0;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
   
    
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.darkTheme  Theme .panel, .darkTheme   .panel {
    background-color: #1d2533;
    border: 1px solid #121b2b;
}

.darkTheme  Theme .panel-default, .darkTheme   .panel-default {
   /* background-color: #202938 !important;
    color: #C3C3C3 !important;
    fill: #C3C3C3 !important;
    border-color: #363E4C;
	*/
	    border: 1px solid #19212D;
    box-shadow: 0 2px 4px 0px rgb(25, 31, 43);
    background-color: rgba(20, 27, 46, 0.42) !important;
    border-radius: 0;
}

.darkTheme .panel-default .panel-heading, .dark .panel-default .panel-heading {
    color: #fff;
    background-color: transparent;
    border-color: rgba(58, 64, 74, 0.48); border-radius:0
}

.darkTheme .panel-default .panel-footer, .dark .panel-default .panel-footer {
    color: #fff;
    background-color: transparent;
    border-color: rgba(58, 64, 74, 0.48); border-radius:0
}